@use "../../scss/breakpoint" as *;

.movie-list {
  width: 15%;

  @include tablet {
    width: 30%;
  }
  @include mobile {
    width: 40%;
  }
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-wrapper {
  width: 24%;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.active > .page-link {
  background-color: #be123c;
  border-radius: 5%;
}

.page-link {
  color: black;
  border: none;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vw;
  flex-direction: column;
}

.searchbar {
  width: 40vw;
  padding: 10px;
}

.filter-container {
  display: flex;
  justify-content: center;
  
  margin-bottom: 4vw;
  
}


