@use "../../scss/" as *;


.btn{
    cursor: pointer;
    font-family: $font-family;
    background-color: #BE123C ;
    color: white;
    border-radius: 10px;
    padding: .2vw 2vw;
    font-size: .7rem;
    font-weight: 700;
    
    position: relative;
    line-height: 20px;
    width: 11vw;
    height: auto;
    margin-top: 2vw;
    text-align: center;
    justify-content: center;
}

@media (max-width: 720px) {
    .btn {
        font-size: .7rem;
        width: 100px;
        height: 25px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
    }
    
}

.play{
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
}