@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  position: relative;
  top: 0;
  left: 0;
}

.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
  margin: 0.19rem;
  margin-right: 1.5vw;
  margin-bottom: 2vw;
  min-width: 100px;
  height: 25vw;
  z-index: 0;
  margin-left: 5vw;
}

.card__title {
  font-size: 0.8rem;
}

.cards__img {
  width: 13vw;
  height: 19.5vw;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .cards__img {
    width: 40vw;
    height: 50vw;
  }

  .cards {
    height: 60vw;
    margin-left: 25vw;
    margin-top: 2vw;
  }
  
  
}

@media (max-width: 820px) {
  .cards__img {
    width: 100px;
    height: 150px;
    
  }

  .cards {
    height: 200px;
    width: 100px;
    margin-left: 12vw;
  
  }

  .cards-container{
    width: 10px;
  }
  

  
  
}

.cards__overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 290px;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.card__title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  color: black;
  width: 80%;
}

.card__runtime {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.card__rating {
  float: right;
}

.card__description {
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  width: 4.8rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  z-index: 1;
  margin-top: 1vw;
  margin-left: 0.5vw;
}
