footer {
  width: 100%;
  position: static;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons-container,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.footer-menu-container {
  list-style-type: none;
  color: black;
  font-size: 18px;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  opacity: 0.3;
  text-align: center;
}

.space {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
}
